<style>
  #xande{
    width: 100%;
    max-width: 150px;
    height: auto;
   }
  #cecilia{
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  #kleber{
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  #leo{
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  #ReisO{
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  #Pedro{
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  .design{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
  }
  
  .dev{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
  }
 </style>
 
 <div class="user-details">
  <h1> O grupo ALPACK </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="Design">
      <h2>Designers</h2>
      <p>Alexandre Junior</p>
      <img src="../assets/img/Alexandro.jpg" id="xande">
      <br><p>Cecília Frazão</p>
      <img src="../assets/img/Cecilia.jpg"  id="cecilia">
      <br><p>Kleber Santana</p><br>
      <img src="../assets/img/Kleber.jpg" id="kleber">

    </div>
    <div class="dev">
      <h2>Desenvolvedores</h2>
      <p>Leonardo Melo</p>
      <img src="../assets/img/Leo.png" id="leo">
      <br><p>Arthur Reis</p>
      <img src="../assets/img/ReisO.png"  id="ReisO">
      <br><p>Pedro Farias</p>
      <img src="../assets/img/Pedro.png" id="Pedro">
    </div>
</div>