<style>
    #member {
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .design {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: left;
    }

    .dev {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: left;
    }

    img {
          border-radius: 50%;
    }
</style>

<!-- #O GRUPO ALPACK -->

<div class="user-details">
    <h1> O grupo ALPACK </h1>
    <p> {{site.user_description}} </p>
</div>

<div class="user">
    <div class="design">
        <h2>Designers</h2>
        <p>Alexandre Junior</p>
        <img src="../assets/img/Alexandro.jpg" id="member" alt="Alexandro">
        <br>
        <p>Cecília Frazão</p>
        <img src="../assets/img/Cecilia.jpg" id="member" alt="Cecilia">
        <br>
        <p>Kleber Santana</p>
        <img src="../assets/img/Kleber.jpg" id="member" alt="Kleber">

    </div>
    <div class="dev">
        <h2>Desenvolvedores</h2>
        <p>Leonardo Melo</p>
        <img src="../assets/img/Leo.png" id="member" alt="Leo">
        <br>
        <p>Arthur Reis</p>
        <img src="../assets/img/ReisO.png" id="member" alt="Reis0">
        <br>
        <p>Pedro Farias</p>
        <img src="../assets/img/Pedro.png" id="member" alt="Pedro">
    </div>
</div>